<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>邮件管理系统</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <link rel="icon" href="common/images/mail.jpeg" type="image/x-icon"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">WEB邮件系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                         class="layui-nav-img">
                    <span class="userName"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item logout"><a href="javascript:;">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <!--菜单目录-->
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:">权限管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:" data-href="/html/menu">菜单管理</a></dd>
                        <dd><a href="javascript:" data-href="/html/user">用户管理</a></dd>
                        <dd><a href="javascript:" data-href="/html/role">角色管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:">邮件管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:" data-href="/html/menu">收件箱</a></dd>
                        <dd><a href="javascript:" data-href="/html/user">发件箱</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="left: 0px;">
        <div id="content"/>
    </div>

    <div class="layui-footer">
        <div class="layui-footer" style="text-align: center">
            <div>WEB邮件管理系统</div>
        </div>
    </div>
</div>
<script src="layui/layui.js"></script>
<script src="views/main.js"></script>
</body>
</html>
